<section id="venue" class="o-section o-section--white c-top__venue">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            モニターツアー<br>開催地について
            <span>VENUE</span>
        </h2>
        <h3 class="o-subtitle o-subtitle--black js-fadein">陸前高田市はどんなところ？</h3>
        <p class="c-top__common-text js-fadein">
            岩手県陸前高田市は岩手県の沿岸部最南端に位置し、県内でも冬の降雪量が少なく温暖なことから「岩手の湘南」と呼ばれています。<br>
            2011 年 3 月に発生した「東北地方太平洋沖地震」により発生した津波よって大きな被害を受けた地域のひとつで、現在も復興の真っ只中です。
        </p>
        <p class="c-top__common-text js-fadein">
            陸前高田には、全国的に突出した何かがあるわけではありません。ですが、岩手県が指定する 45 個もの地域資源が登録されており、海、山、川といった豊かな自然と、そこに暮らす人々の温かい笑顔が印象的なまちです。<br>
            （「<a href="https://takanavi.org/about/" target="_blank">高田旅ナビ</a>」より）
        </p>
        <div class="c-top__venue-flex js-fadein">
            <ul>
                <li>
                    <img src="<%= ROOT %>/img/venue/01.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/venue/02.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/venue/03.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/venue/04.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/venue/05.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/venue/06.png" alt="image">
                </li>
            </ul>
            <div class="image">
                <img src="<%= ROOT %>/img/venue/iwate.png" alt="iwate">
            </div>
        </div>
        <h4 class="js-fadein">東京方面からの交通アクセス</h4>
        <div class="c-top__venue-access js-fadein">
            <div class="box left">東京・上野</div>
            <p class="text01">東北新幹線 約2時間</p>
            <div class="box center">一ノ関</div>
            <p class="text02">
                JR大船渡線 約2時間30分<br>
                ※一ノ関駅からバスで送迎します
            </p>
            <div class="box right">陸前高田</div>
        </div>
    </div>
</section>
