<section id="sumita" class="o-section o-section--green c-top__sumita o-illust">
    <img class="o-illust__deer o-illust__deer01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            「森林・林業日本一の町づくり」<br>住田町
            <span>SUMITA</span>
        </h2>
        <div class="c-top__sumita-block">
            <h3 class="o-subtitle o-subtitle--white js-fadein">東⽇本⼤震災と住⽥町</h3>
            <p class="c-top__common-text js-fadein">
                住⽥町、陸前⾼⽥市、⼤船渡市の２市１町で「気仙地⽅」と呼ばれています。<br>
                東⽇本⼤震災時、国や県の指⽰を待たずに、発災後3⽇⽬には町独⾃の判断で⽊造⼀⼾建の応急仮設住宅の建設を開始。町内全域で３団地93⼾、ピーク時は91世帯が居住しました。
            </p>
            <p class="c-top__common-text js-fadein">
                住⺠同⼠のつながりが強く、互いに⾒守りあう環境ができていたことから町内の安否確認が短時間で完了。2020年7⽉に全世帯が退居し、仮設住宅の多くは払い下げとなりました。
            </p>
        </div>
        <div class="c-top__sumita-block">
            <h3 class="o-subtitle o-subtitle--white js-fadein">住⽥町の暮らし</h3>
            <p class="c-top__common-text js-fadein">
                町の⽅々は、リモートワークや副業の受⼊など、時代に合わせた⽂化を踏襲しながらも、昔ながらのていねいな暮らしも続けています。
            </p>
            <p class="c-top__common-text js-fadein">
                旬のものをおいしく⻑くいただく術や、地域住⺠同⼠の交流を⼤切にする⾏事の継続などを⼤事にしている住⽥町は、現代社会を駆け抜ける⽣き⽅をしている⾸都圏の⼈材にとって、⼀息つきながら⼰を⾒つめ返す時間を与えてくれる場所になるでしょう。
            </p>
        </div>
        <div class="c-top__sumita-block c-top__sumita-flex">
            <div class="box">
                <div class="image">
                    <img class="o-shadow" src="<%= ROOT %>/img/sumita/01.png" alt="木造一戸建の仮設住宅">
                </div>
                <p>
                    木造一戸建の仮設住宅<br>
                    一部はコワーキングスペース等の建設部材として活用予定
                </p>
            </div>
            <div class="box">
                <div class="image">
                    <img class="o-shadow" src="<%= ROOT %>/img/sumita/02.png" alt="干し柿づくり">
                </div>
                <p>
                    町内でのていねいな暮らし<br>
                    （干し柿づくり）
                </p>
            </div>
            <div class="box">
                <div class="image">
                    <img class="o-shadow" src="<%= ROOT %>/img/sumita/03.png" alt="みずき団子づくり">
                </div>
                <p>
                    町内でのていねいな暮らし<br>
                    （みずき団子づくり）
                </p>
            </div>
        </div>
    </div>
</section>
