<section id="hirota" class="o-section o-section--blue c-top__hirota">
    <div class="o-inner">
        <h2 class="o-title o-title--black js-fadein">
            「人が魅力のまち」<br>広田町
            <span>HIROTA</span>
        </h2>
        <h3 class="o-subtitle o-subtitle--white js-fadein">陸前高田市<span class="orange">広田町</span>について</h3>
        <p class="c-top__common-text js-fadein">
            今回のモニターツアーで訪問するのは、陸前高田市の広田町（ひろたちょう）です。市街地から車で約 30 分ほどの距離、太平洋に突き出た広田半島に位置する人口 3000 人ほどのワカメやカキ、ウニなどの漁業がさかんな漁師町です。<br>
            広田町は観光地ではないし、交通の便も決して良いとは言えない町。しかし、そこには震災から立ち直り、力強くいまを生きている人たちがいます。そうした「人」の魅力にとりつかれて、県外の若者が移住を決めてしまうほどです。
        </p>
        <p class="c-top__common-text js-fadein">
            地域住民と移住者が一体となって町全体で震災からの復興プロジェクトを動かしているかのような広田町でのワーケーションを通じて、都市生活や普段のビジネスシーンでは決して得ることのできない体験をして、あなたの思考の枠を広げてみませんか。
        </p>
        <div class="c-top__hirota-flex js-fadein">
            <div class="image">
                <img src="<%= ROOT %>/img/hirota/iwate.png" alt="iwate">
            </div>
            <ul>
                <li>
                    <img src="<%= ROOT %>/img/hirota/01.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/hirota/02.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/hirota/03.png" alt="image">
                </li>
                <li>
                    <img src="<%= ROOT %>/img/hirota/04.png" alt="image">
                </li>
            </ul>
        </div>
    </div>
</section>
