<section id="member" class="o-section o-section--green c-top__member o-illust">
    <img class="o-illust__deer03" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer04" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            サポートメンバー／ナビゲーター
            <span>MEMBER</span>
        </h2>
        <div class="c-top__member-navigator">
            <h3 class="o-subtitle o-subtitle--white js-fadein">サポートメンバー</h3>
            <div class="c-top__member-inner">
                <div class="block">
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member01.png" alt="植田 敦代">
                        <h3>植田 敦代</h3>
                        <p>
                            コーディネート担当。<br>
                            2012年住田町移住。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member02.png" alt="関口 隆">
                        <h3>関口 隆</h3>
                        <p>
                            住田町役場企画財政課。<br>
                            3児の父。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member03.png" alt="金野 純一">
                        <h3>金野 純一</h3>
                        <p>
                            下有住地区公民館長。<br>
                            地元の名物館長。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member04.png" alt="紺野 和美">
                        <h3>紺野 和美</h3>
                        <p>
                            大股地区公民館主事。<br>
                            地元出身の朗らかお姉さん。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member05.png" alt="吉田 正平">
                        <h3>吉田 正平</h3>
                        <p>
                            吉田樹苗代表。<br>
                            2020年自身が開発した移植機が特許取得。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member06.png" alt="ニホンジカ">
                        <h3>ニホンジカ</h3>
                        <p>
                            夜のドライブで、ほぼ100％出会うことが出来る。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-top__member-navigator">
            <h3 class="o-subtitle o-subtitle--white js-fadein">ナビゲーター</h3>
            <div class="c-top__member-inner">
                <div class="block">
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/navigator01.png" alt="川村 泰朗">
                        <h3>川村 泰朗</h3>
                        <p>
                            プロフラムアドバイザー。<br>
                            東京と愛知の二拠点生活。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/navigator02.png" alt="竹内 義晴">
                        <h3>竹内 義晴</h3>
                        <p>
                            プロフラムアドバイザー。<br>
                            新潟と東京で二拠点ワーク。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/navigator03.png" alt="岡田 優衣">
                        <h3>岡田 優衣</h3>
                        <p>
                            プロフラムアドバイザー。<br>
                            2021年まで住田町に関わる。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
