<section id="member" class="o-section o-section--white c-top__member">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            サポートメンバー／ナビゲーター
            <span>MEMBER</span>
        </h2>
        <div class="c-top__member-member">
            <h3 class="o-subtitle o-subtitle--black js-fadein">サポートメンバー</h3>
            <div class="c-top__member-inner">
                <div class="box box--first js-fadein">
                    <div class="left">
                        <img src="<%= ROOT %>/img/member/member01.png" alt="小林 敬志">
                    </div>
                    <div class="right">
                        <div class="affiliation">特定非営利活動法人SET</div>
                        <h3>小林 敬志</h3>
                        <p>
                            横浜出身。<br>
                            大学3年生の時に陸前高田市広田町に出会う。<br>
                            移住3年目。大学時代は国際政治学専攻。<br>
                            SET では、学生向け研修プログラムのプログラムマネージャーやシンクタンク事業で調査分析も担う。<br>
                            目の前のひとりから始まるまちづくりを目指し奮闘中。
                        </p>
                    </div>
                </div>
                <div class="box js-fadein">
                    <div class="left">
                        <img src="<%= ROOT %>/img/member/member02.png" alt="宮内 航">
                    </div>
                    <div class="right">
                        <div class="affiliation">特定非営利活動法人SET</div>
                        <h3>宮内 航</h3>
                        <p>
                            埼玉県出身。<br>
                            大学時代、ボランティアの参加先の一つとして SET 、陸前高田市と出会う。<br>
                            その後アメリカ、ベトナムでの勤務を経て帰国し、SETでの活動を再開。活動を通して移住を決め、現在はデザイン業、国際交流プログラム、社会人向け研修担当。
                        </p>
                    </div>
                </div>
                <div class="box js-fadein">
                    <div class="left">
                        <img src="<%= ROOT %>/img/member/member03.png" alt="石渡 博之">
                    </div>
                    <div class="right">
                        <div class="affiliation">特定非営利活動法人SET</div>
                        <h3>石渡 博之</h3>
                        <p>
                            大学1年生の時に陸前高田市と出会い、毎月通うようになる。<br>
                            大学卒業後は陸前高田市に移住し若者の関係人口創出に携わる。<br>
                            漁業権を取得し漁業にも携わっている。
                        </p>
                    </div>
                </div>
                <div class="hukidashi hukidashi--01 js-fadein">
                    <img src="<%= ROOT %>/img/member/hukidashi01.png" alt="研修は私たちにお任せください！">
                </div>
            </div>
        </div>
        <div class="c-top__member-navigator">
            <h3 class="o-subtitle o-subtitle--black js-fadein">ナビゲーター</h3>
            <div class="c-top__member-inner">
                <div class="block">
                    <div class="box js-fadein">
                        <img src="<%= ROOT %>/img/member/navigator01.png" alt="村上 誠二">
                        <div class="affiliation">長洞元気村</div>
                        <h3>村上 誠二</h3>
                        <p>
                            海の恵みと、おばちゃんたちの愛と元気を味わってください！
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img src="<%= ROOT %>/img/member/navigator02.png" alt="畠山 ミキ子">
                        <div class="affiliation">古民家美術館 三陸館</div>
                        <h3>畠山 ミキ子</h3>
                        <p>
                            絵が生まれたこのアトリエで、絵を通じて三陸の風土を味わってほしいです。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img src="<%= ROOT %>/img/member/navigator03.png" alt="村上 妙子">
                        <div class="affiliation">リノベーション食堂 暖</div>
                        <h3>村上 妙子</h3>
                        <p>
                            若い人たちが来てくれて、元気をもらっています。自家製のわかめもぜひ。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img src="<%= ROOT %>/img/member/navigator04.png" alt="野尻 悠">
                        <div class="affiliation">カフェ彩葉 オーナー</div>
                        <h3>野尻 悠</h3>
                        <p>
                            「広田町をもっと好きになれる空間」を目指す古民家カフェでお待ちしてます。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img src="<%= ROOT %>/img/member/navigator05.png" alt="煙山 美帆">
                        <div class="affiliation">ナチュラルフードコーディネーター</div>
                        <h3>煙山 美帆</h3>
                        <p>
                            毎日365日、0歳から100歳まで食べられる美味しいご飯を、地域の食材で。
                        </p>
                    </div>
                </div>
                <div class="hukidashi hukidashi--02 js-fadein">
                    <img src="<%= ROOT %>/img/member/hukidashi02.png" alt="ようこそ広田町へ私たちも、お待ちしてます！">
                </div>
            </div>
        </div>
    </div>
</section>
