<section id="jmam" class="o-section o-section--green c-top__jmam o-illust">
    <img class="o-illust__deer01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title js-fadein">
            About JMAM <br>Learning Workation
            <span>JMAM</span>
        </h2>
        <h3 class="c-top__jmam-logo">
            <img src="<%= ROOT %>/img/jmam/logo.png" alt="here there 生きるを学ぶ、メンバーシップ。">
        </h3>
        <div class="c-top__jmam-title">
            <div class="top">Learning Workationで<br class="nobr-pc">イノベーションを推進する</div>
            <div class="bottom">固定観念や暗黙の前提から脱し、<br class="nobr-pc">⾃ら問いを⽴てる⼒を養う環境づくり</div>
        </div>
        <div class="c-top__jmam-flex c-top__jmam-flex--01">
            <div class="left">
                <p>⾃分の専⾨領域で、お互いによく知った同僚などと仕事をする“ホーム”から、専⾨領域も価値観も異なる⼈たちがいる“アウェイ”に出ることで、刺激を受けやすい状態を「⾃発的に」つくり出すのが越境学習です。</p>
                <p>「越境学習」により、⽇常⽣活では経験できない、異質な知との出会いと、深い気づきを促します。さまざまな価値観と交わる「知の探索」により、忙しい毎⽇に眠っていた⼈の可能性を呼び起こします。</p>
            </div>
            <div class="right">
                <img src="<%= ROOT %>/img/jmam/image01.png" alt="image">
                <div class="flex">
                    <div class="mini-left">
                        <div class="subtitle">HOME</div>
                        <p>
                            都市<br>
                            所属組織<br>
                            ⾃業務・業界<br>
                            共通の価値観
                        </p>
                    </div>
                    <div class="mini-right">
                        <div class="subtitle">AWAY</div>
                            <p>
                            地域<br>
                            異業種<br>
                            複業・兼業<br>
                            多様な価値観
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="c-top__jmam-effect">
            <div class="title">【越境学習の効果】</div>
            <p>・現在のビジネスや業務の進め⽅を常に内省し、新しい在り⽅を求めて変化し続ける</p>
            <p>・何を当たり前としてとらえていたのかに気付く、価値観そのものを問い直す契機になる</p>
        </div>
        <div class="c-top__jmam-goal">
            <div class="top">
                <div class="images">
                    <img class="image01" src="<%= ROOT %>/img/jmam/image02.png" alt="image">
                    <img class="image02" src="<%= ROOT %>/img/jmam/image03.png" alt="image">
                </div>
                <p>都市の人口集中化を見据えたまちづくりが目標</p>
            </div>
            <p class="bottom">JMAMは、地⽅創⽣のために、地域と都市の関係⼈⼝の創出にむけ、企業⼈材と地域⼈材との交流を促進し、双⽅の課題の同時解決に貢献する取組を進めています。</p>
        </div>
        <div class="c-top__jmam-achievement">
            <div class="left">
                <div class="block">
                    <div class="title">活動実績＜提携団体等＞</div>
                    <p>
                        令和元年度総務省関係⼈⼝創出・拡⼤モデル事業（裾野拡⼤型）採択<br>
                        『コレクティブ・インパクト・リーダーシップ研修』<br>
                        （和歌⼭県⽥辺市、⾸都圏企業14社15名参加）
                    </p>
                </div>
                <div class="block">
                    <div class="title">包括連携協定の締結（順不同）</div>
                    <p>
                        和歌⼭県・⽥辺市・⽩浜町、和歌⼭県太地町<br>
                        新潟県妙⾼市、岩⼿県釜⽯市<br>
                        ⿃取県、福井県永平寺町(予定)
                    </p>
                </div>
                <div class="block">
                    <div class="title">共同研究協定の締結</div>
                    <p>国⽴⼤学法⼈東京学芸⼤学</p>
                </div>
                <div class="block">
                    <div class="title">その他、プログラム開発中の地域</div>
                    <p>
                        ⾼知県⾼知市⼟佐⼭地区（⼟佐⼭アカデミー）<br>
                        岩⼿県⼭⽥町、⼋幡平市<br>
                        ⿅児島県和泊町（沖永良部島）
                    </p>
                </div>
            </div>
            <div class="right">
                <img class="o-shadow" src="<%= ROOT %>/img/jmam/image04.png" alt="image">
                <img class="o-shadow" src="<%= ROOT %>/img/jmam/image05.png" alt="image">
                <img class="o-shadow" src="<%= ROOT %>/img/jmam/image06.png" alt="image">
                <img class="o-shadow" src="<%= ROOT %>/img/jmam/image07.png" alt="image">
            </div>
        </div>
    </div>
</section>
