<section id="member" class="o-section o-section--green s-member o-illust">
    <img class="o-illust__deer o-illust__deer03" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer04" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner">
        <h2 class="o-title o-title--white js-fadein">
            サポートメンバー／ナビゲーター
            <span>MEMBER</span>
        </h2>
        <div class="s-member__navigator">
            <h3 class="o-subtitle o-subtitle--white js-fadein">サポートメンバー</h3>
            <div class="s-member__inner">
                <div class="block">
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member01.png" alt="植田 敦代">
                        <h3>植田 敦代</h3>
                        <p>
                            コーディネート担当。<br>
                            2012年住田町移住。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member02.png" alt="酒井 菜穂子">
                        <h3>酒井 菜穂子</h3>
                        <p>
                            神奈川県出身。<br>
                            2013年岩手県移住。<br>
                            2019年住田町移住。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="https://placehold.jp/3d4070/ffffff/251x251.png?text=%E4%BD%90%E3%80%85%E6%9C%A8%20%E6%B7%B3%E4%B8%80%E3%81%95%E3%82%93%EF%BC%88%E4%BB%AE%EF%BC%89" alt="佐々木 淳一">
                        <h3>佐々木 淳一</h3>
                        <p>
                            住田町役場企画財政課課長。<br>
                            住田町出身。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member04.png" alt="紺野 和美">
                        <h3>紺野 和美</h3>
                        <p>
                            大股地区公民館主事。<br>
                            地元出身の朗らかお姉さん。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member05.png" alt="吉田 正平">
                        <h3>吉田 正平</h3>
                        <p>
                            吉田樹苗代表。<br>
                            2020年自身が開発した移植機が特許取得。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/member06.png" alt="ニホンジカ">
                        <h3>ニホンジカ</h3>
                        <p>
                            夜のドライブで、ほぼ100％出会うことが出来る。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="s-member__navigator">
            <h3 class="o-subtitle o-subtitle--white js-fadein">ナビゲーター</h3>
            <div class="s-member__inner">
                <div class="block">
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/navigator02.png" alt="竹内 義晴">
                        <h3>竹内 義晴</h3>
                        <p>
                            プログラムアドバイザー。<br>
                            新潟と東京で二拠点ワーク。
                        </p>
                    </div>
                    <div class="box js-fadein">
                        <img class="o-shadow" src="<%= ROOT %>/img/member/navigator03.png" alt="岡田 優衣">
                        <h3>岡田 優衣</h3>
                        <p>
                            プログラムアドバイザー。<br>
                            住田町と東京で二拠点ワーク。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
