<div class="c-top__banner">
    <div class="o-inner c-top__banner-inner">
        <a href="https://www.town.sumita.iwate.jp/" target="_blank">
            <img src="<%= ROOT %>/img/banner/02.png" srcset="<%= ROOT %>/img/banner/02.png 1x,<%= ROOT %>/img/banner/02@2x.png 2x" alt="住田町">
        </a>
        <a class="pointer-none" target="_blank">
            <img src="<%= ROOT %>/img/banner/03.png" srcset="<%= ROOT %>/img/banner/03.png 1x,<%= ROOT %>/img/banner/03@2x.png 2x" alt="おとりもち">
        </a>
        <a href="https://hatarakikata.design/" target="_blank">
            <img src="<%= ROOT %>/img/banner/04.png" srcset="<%= ROOT %>/img/banner/04.png 1x,<%= ROOT %>/img/banner/04@2x.png 2x" alt="JMAM">
        </a>
    </div>
</div>
