<footer id="footer" class="o-footer o-illust">
    <img class="o-illust__deer o-illust__deer01" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer02" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <img class="o-illust__deer o-illust__deer03" src="<%= ROOT %>/img/illust/animal_nihonjika_tsuno.png" alt="animal_nihonjika_tsuno">
    <img class="o-illust__deer o-illust__deer04" src="<%= ROOT %>/img/illust/animal_nihonjika.png" alt="animal_nihonjika">
    <div class="o-inner o-inner--wide">
        <div class="o-footer__inner">
            <div class="logo">
                ラーニングワーケーションin<span>住田町</span>
            </div>
            <div class="info">
                <p>
                    おとりもち<br>
                    岩手県気仙郡住田町<br>
                    <!-- TEL/FAX　0192-47-5747 -->
                </p>
                Mail <a href="mailto:otorimochi64@gmail.com?subject=お問い合わせ&amp;body=ご記入ください">otorimochi64@gmail.com</a>
            </div>
        </div>
        <address class="o-footer__copy">
            Copyright &copy; 2021 otorimochi <br class="nobr-pc">All Rights Reserved.
        </address>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/6.2.4/simplebar.min.js" integrity="sha512-K//QeDiscFFAs5yljnbZCuoAmzv5KdtVY0W70WLQZ+BFCxi4PotspvxZwpaGJOao2l4oIQhgsHX5tHxyRe+YYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js" defer></script>
<script src="https://unpkg.com/scroll-hint@latest/js/scroll-hint.min.js"></script>
<script src="<%= ROOT %>/js/index.js" defer></script>
