<% ROOT = '.'; %>
<%- include(ROOT + '/_const') -%>
<% BodyClass = 'top'; %>
<!DOCTYPE html>
<html lang="ja" class="no-scroll">
<%- include(ROOT + '/block/_head') -%>
<body class="<%= BodyClass %>">
    <%- include(ROOT + '/block/_header') -%>
    <main class="o-main c-top">
        <%- include(ROOT + '/block/_swiper') -%>
        <%- include(ROOT + '/block/_banner') -%>
        <%- include(ROOT + '/section/_01') -%>
        <%- include(ROOT + '/section/_02') -%>
        <%- include(ROOT + '/section/_03') -%>
        <%- include(ROOT + '/section/_04') -%>
        <%- include(ROOT + '/section/_05') -%>
        <%- include(ROOT + '/section/_06') -%>
        <%- include(ROOT + '/section/_07') -%>
        <%- include(ROOT + '/section/_08') -%>
        <%- include(ROOT + '/section/_09') -%>
        <%- include(ROOT + '/section/_10') -%>
        <%- include(ROOT + '/section/_11') -%>
        <%- include(ROOT + '/section/_12') -%>
    </main>
    <%- include(ROOT + '/block/_footer') -%>
</body>
</html>
